@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import '../components/steps/steps.css';

html {
  height: 100%;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost/Jost-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype');
}

.bocado {
  font-family: 'Comfortaa';
  font-weight: bold;
}

body {
  font-family: 'Jost';
  @apply text-gray-700;
}

p {
  @apply my-5;
}

input, button {
  @apply p-2 border border-gray-300 rounded w-full;
}

.menu a:not(:last-child) {
  @apply mr-4;
}

.menu a {
  @apply ;
}

.menu-link {
  @apply p-3 rounded;
}

.menu-link:hover {
  color: white;
  background: rgb(244,120,60);
  background: linear-gradient(270deg, rgba(244,120,60,1) 0%, rgba(228,28,83,1) 100%);    
}

.wrapper {
  @apply h-full;
}

#arrow-prev, #arrow-next {
  @apply absolute inline-flex;
  top: 50%;
}

#arrow-prev {
  @apply left-0;
}

#arrow-next {
  @apply right-0;
}

#avatar { fill: url(#Gradient1); }
.stop1 { stop-color: #f4783c; }
.stop3 { stop-color: #e41c53; }